In [16]:
# function to calculate the average of all the factorials of a given number
def factors(n):
   s=1
   for i in range(1,n+1,1):
       
       s=s*i
   return s 
def avgfacto(m):
   count=0
   sum=0
   for i in range(1,m+1):
       sum=sum+factors(i)
       print(sum)
   avrg=sum//m
   return avrg
avgfacto(5)

1
3
9
33
153

30

In [12]:
#Function to print odd armstrong numbers in a given range
def oddarmstrongno(n):
   for k in range(110,n+1):
       a=len(str(k))
       n1=k
       sum=0
       while(k>0):
           d=k%10
           sum=sum+(d**a)
           k=k//10
       if sum==n1:
           if n1%2!=0:
               print(n1,end=" ")
       
oddarmstrongno(420)

153 371 407

In [14]:
#Function to generate Multiplication table for a number in a given range
#10 in the range(100, 102) inclusive
#10 x 100 = 1000
#10 x 101 = 1010
#10 x 102 = 1020
def multi(n,lb,ub):
   for i in range(lb,ub+1):
       res=n*i
       print(n,"*",i,"=",res)
multi(10,100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020